$color-page: #fff
$color-primary: #FA4A0C
$color-secondary: #252B42
$color-tertiary: #fff
$color-light: #E4E4E4
$color-dark: #000

$colors: ("primary": $color-primary, "secondary": $color-secondary, "tertiary": $color-tertiary)
$breakpoints: ("sm": 576px, "md": 768px, "lg": 1080px)
$font-size: ("xs": 12px, "sm": 16px, "md": 24px, "lg": 40px, "xl": 58px)
$spacers: ("sm": 0px, "md": 34px, "lg": 80px, "xl": 130px)


// down
@mixin breakpoint($name)
  @media (max-width: map-get($breakpoints, $name))
    @content


@function spacer($key: "md")
  @return map-get($spacers, $key)
